<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >

<head>

</head>

<body>
<div id="Footer">
    <div id="FooterNav">
        <span><a href="http://www.cashoftheday.com/money/debt-advice/">Advice</a></span>
        <span>|</span>
        <span><a href="http://www.cashoftheday.com/money/complaints">Complaints</a></span>
        <span>|</span>
        <span><a href="http://www.cashoftheday.com/money/privacy/">Privacy</a></span>
        <span>|</span> 
		<span><a href="http://www.cashoftheday.com/money/cashoftheday-cookies/">Cookies</a></span>
        <span>|</span> 
        <span><a href="http://www.cashoftheday.com/money/join-us/">Jobs</a></span>
        <span>|</span>
        <span><a href="http://www.cashoftheday.com/money/media-contact-us/">Media</a></span>
        <span>|</span>
		<span><a href="https://www.cashoftheday.com/money/legal/">Legal</a></span>
		<span>|</span>
</div>    

<div class="copyright">
GenZ Micro Finance Limited is authorised and regulated by the Financial Conduct Authority. FCA Registration Number FRNXXXXXX.
<br />Registered Address: 359 Goswell Street, London, EC1V 7JN.
<br />Loans are only available to over 18s and are subject to status.
    </div>

	<div class="OurFooterLinks">Our <a href="http://www.cashoftheday.com/money/cashoftheday-cash-loan/" class="FootTextLink">cash loans</a> are an alternative to <a href="http://www.cashoftheday.com/money/payday-loans-alternative/" class="FootTextLink">payday loans</a> as you can choose exactly how much to borrow, for how long and how many payments.
	</div>

    
</div>


    <div id="fcawarning">
        <p>Warning: Late repayment can cause you serious money problems. For help, go to <a href="http://www.moneyadviceservice.org.uk" target="_blank" title="Free, Unbiased, Independent advice - Money Advice Service">moneyadviceservice.org.uk</a></p>
    </div>
</body>
</html>
